/* Dentro do arquivo styles.css */

html{
  background: linear-gradient(to bottom, #F78A42, #F14179);
  /* background: linear-gradient(to bottom, #ab5f2d, #962a4c); */
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Definição da fonte e estilos básicos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
}

img {
  width: 120px;
  margin-top: 30px;
}
  
  
/* Estilos para o título h1 da página */
h1 {
  margin: 0px;
  font-size: 23px;
}
  
/* Estilos para o formulário, que está dentro de um contêiner flex */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}

/* Estilos para o elemento span (mensagem informativa) */
span {
  font-size: 13px;
  color: #fff;
  font-style: italic;
  margin-bottom: 15px;
}

/* Estilos para os rótulos (labels) do formulário */
label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Estilos para os campos de entrada de texto */
input {
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
}

input:focus{
  outline: 2px solid #fff;
}


/* Estilos para o elemento select (dropdown) */
select {
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}

select option {
  color:#000;
  background-color: transparent;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);  
}

select:focus{
  outline: 2px solid #fff;
}


/* Estilos para o fundo do input de upload */
input[type="file"]:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para o botão de upload */
input::file-selector-button{
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: solid #fff 1px;
  cursor: pointer;
  color: #F14179;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Estilos para o botão de submit */
input[type="submit"] {
  color: #F14179;
  font-weight: bold;
  border: solid #fff 1px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o botão de submit quando passa o mouse sobre ele */
input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Estilos para o rodapé */
footer {
  margin: 0;
  border-top: 2px solid #ccc;
}

footer p {
  margin-top: 28px;
  font-size: 14px;
}